version: "3.9"

services:
  api:
    build: .
    container_name: express-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - minio
    restart: always

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    command: server /data --console-address ":9001"

volumes:
  minio_data:
